@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* PALETTE */
:root { /* data-theme = "dark" */
  --primary-color: rgb(57, 62, 70);
  --secondary-color: rgb(34, 40, 49);
  --tertiary-color: rgba(34, 40, 49, 0.502);
  --font-color: rgb(238, 238, 238);
  --accent-color: rgb(255, 211, 105);
  --player-color: rgb(0, 219, 172);
  --disabled-color: rgb(126, 130, 135);
  --play-bg-color:rgb(234, 233, 233);
}

/* GENERAL & SHARED CSS */
* {
  /* Display & Box Model */
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  /* Text */
  font-family: Roboto, Helvetica, Arial, sans-serif;
  text-align: center;

  /* Color */
  color: var(--font-color);
}

/* HEADINGS */
h2 {
  /* Display & Box Model */
  margin-top: 12px;
}

p {
  /* Text */
  font-size: 16px;
}

/* HEADER */
header {
  /* Positioning */
  position: fixed;
  top: 0%;

  /* Display & Box Model */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 80px;
  padding: 8px 32px;

  /* Color */
  background-color: var(--secondary-color);
}

header .logo-container {
  /* Display & Box Model */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  /* Display & Box Model */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 48px;
  border-radius: 12px;
  margin-right: 16px;

  /* Color */
  background-color: var(--font-color);
}

header img {
  /* Display & Box Model */
  height: auto;
  width: 48px;

  /* Color */
  filter: var(--logo-filter);
}

header > img {
  /* Color */
  filter: var(--switch-filter);
}

header .logo img {
  /* Display & Box Model */
  width: 40px;
  margin: 5px;
}

/* MAIN */
main {
  /* Display & Box Model */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 64px);
  padding: 16px 32px;
  margin: 64px 0px 0px;

  /* Color */
  background-color: var(--primary-color);
}

main ul {
  /* Display & Box Model */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;

  /* Other */
  list-style: none;
}

main li {
  /* Display & Box Model */
  margin: 8px 0px;
}

main .modeList {
  /* Display & Box Model */
  width: calc(100vw - 64px);
}

main .modeList li {
  /* Display & Box Model */
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 1 160px;
  height: 64px;
  border-radius: 12px;
  margin: 16px 0px;

  /* Color */
  background-color: var(--secondary-color);
  border: solid var(--font-color);
}

main .modeList li:has(> input:checked) {
  border: solid var(--accent-color);
  box-shadow: 0 0 0.5rem var(--accent-color);
}

main .modeList li input {
  /* Positioning */
  position: absolute;

  /* Other */
  opacity: 0;
}

main .modeList li label {
  /* Display & Box Model */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 8px;
}

main .results {
  /* Display & Box Model */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

main .results .accent {
  /* Color */
  color: var(--accent-color);

  /* Text */
  font-weight: 900;
}

main .results button {
  /* Display & Box Model */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 48px;
  border-radius: 12px;
  margin: 8px;

  /* Color */
  background-color: var(--secondary-color);
  border: solid var(--font-color);
  
  /* Text */
  font-size: 16px;
}

/* FOOTER */
footer {
  /* Positioning - Temporary to just see it */ 
  position: fixed;
  bottom: 0%;

  /* Display & Box Model */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 64px;
  padding: 8px 32px;

  /* Color */
  background-color: var(--secondary-color);
}

/* MEDIA QUERIES */
@media screen and (max-width: 375px) {
  /* If screen is small */
  h1 {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  /* If screen is medium */
  h1 .largeDisplay {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  /* If screen is large */
  h1 .mediumDisplay {
    display: none;
  }
}

@media screen and (pointer: coarse) {
  /* If screen is only touch-screen */
  header > img:active {
    filter: var(--switch-hover-filter);
  }

  main .modeList li:active {
    /* Color */
    box-shadow: 0 0 0.5rem var(--font-color);
  }

  main .results button:active {
    /* Color */
    box-shadow: 0 0 0.5rem var(--font-color);
  }
}

@media screen and (pointer: fine) {
  /* If screen has a mouse pointer */
  header > img:hover {
    filter: var(--switch-hover-filter);
  }

  main .modeList li:hover {
    /* Color */
    box-shadow: 0 0 0.5rem var(--font-color);
  }

  main .results button:hover {
    /* Color */
    box-shadow: 0 0 0.5rem var(--font-color);
  }
}