@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* PALETTE */
:root { /* data-theme = "dark" */
  --primary-color: rgb(57, 62, 70);
  --secondary-color: rgb(34, 40, 49);
  --tertiary-color: rgba(34, 40, 49, 0.502);
  --font-color: rgb(238, 238, 238);
  --accent-color: rgb(255, 211, 105);
  --player-color: rgb(0, 219, 172);
  --disabled-color: rgb(126, 130, 135);
  --play-bg-color:rgb(234, 233, 233);
}

/* GENERAL & SHARED CSS */
* {
  /* Display & Box Model */
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  /* Text */
  font-family: Roboto, Helvetica, Arial, sans-serif;
  text-align: center;

  /* Color */
  color: var(--font-color);
}

/* HEADINGS */

/* HEADER */
header {
  /* Positioning */
  position: fixed;
  top: 0%;

  /* Display & Box Model */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 80px;
  padding: 8px 32px;

  /* Color */
  background-color: var(--secondary-color);
}

header .logo-container {
  /* Display & Box Model */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  /* Display & Box Model */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 48px;
  border-radius: 12px;
  margin-right: 16px;

  /* Color */
  background-color: var(--font-color);
}

header img {
  /* Display & Box Model */
  height: auto;
  width: 48px;

  /* Color */
  filter: var(--logo-filter);
}

header > img {
  /* Color */
  filter: var(--switch-filter);
}

header .logo img {
  /* Display & Box Model */
  width: 40px;
  margin: 5px;
}

/* MAIN */

/* FOOTER */

/* MEDIA QUERIES */
@media screen and (max-width: 375px) {
  /* If screen is small */
  h1 {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  /* If screen is medium */
  h1 .largeDisplay {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  /* If screen is large */
  h1 .mediumDisplay {
    display: none;
  }
}