@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* PALETTE */
:root { /* data-theme = "dark" */
  --primary-color: rgb(57, 62, 70);
  --secondary-color: rgb(34, 40, 49);
  --tertiary-color: rgba(34, 40, 49, 0.502);
  --font-color: rgb(238, 238, 238);
  --accent-color: rgb(255, 211, 105);
  --player-color: rgb(0, 219, 172);
  --disabled-color: rgb(126, 130, 135);
  --play-bg-color:rgb(234, 233, 233);
  --logo-filter: invert(11%) sepia(5%) saturate(3466%) hue-rotate(177deg) brightness(92%) contrast(86%); /* Logo appears like #222831 by default */
  --switch-filter: invert(100%) sepia(0%) saturate(3120%) hue-rotate(41deg) brightness(118%) contrast(87%); /* Switch appears like #EEEEEE by default */
  --switch-hover-filter: invert(95%) sepia(51%) saturate(1663%) hue-rotate(310deg) brightness(105%) contrast(102%); /* Switch hover appears like #FFD369 by default */
  --figure-img-filter: invert(100%) sepia(0%) saturate(3120%) hue-rotate(41deg) brightness(118%) contrast(87%); /* Figure images appear like #EEEEEE by default */
}

[data-theme="light"] {
  --primary-color: #EEEEEE;
  --secondary-color: rgb(126, 130, 135);
  --tertiary-color: rgba(126, 130, 135, 0.125);
  --font-color: rgb(34, 40, 49);
  --accent-color: rgb(255, 136, 17);
  --player-color: rgb(109, 163, 77);
  --disabled-color: rgba(126, 130, 135, 0.314);
  --play-bg-color: rgba(107, 108, 110, 0.941);
  --logo-filter: invert(100%) sepia(0%) saturate(3120%) hue-rotate(41deg) brightness(118%) contrast(87%); /* Logo appears like #EEEEEE by default */
  --switch-filter: invert(11%) sepia(5%) saturate(3466%) hue-rotate(177deg) brightness(92%) contrast(86%); /* Switch appears like #222831 by default*/
  --switch-hover-filter: invert(68%) sepia(52%) saturate(4509%) hue-rotate(350deg) brightness(101%) contrast(102%); /* Switch hover appears like #ff8811 by default */
  --figure-img-filter: invert(11%) sepia(5%) saturate(3466%) hue-rotate(177deg) brightness(92%) contrast(86%); /* Figure images appear like #222831 by default */
}

/* GENERAL & SHARED CSS */
* {
  /* Display & Box Model */
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  /* Text */
  font-family: Roboto, Helvetica, Arial, sans-serif;
  text-align: center;

  /* Color */
  color: var(--font-color);
}

/* HEADINGS */
h3 {
  /* Text */
  font-size: 32px;
}

h2 {
  /* Display & Box Model */
  margin-top: 12px;
}

p {
  /* Text */
  font-size: 16px;
}

/* HEADER */
header {
  /* Positioning */
  position: fixed;
  top: 0%;

  /* Display & Box Model */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 80px;
  padding: 8px 32px;

  /* Color */
  background-color: var(--secondary-color);
}

header .logo-container {
  /* Display & Box Model */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  /* Display & Box Model */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 48px;
  border-radius: 12px;
  margin-right: 16px;

  /* Color */
  background-color: var(--font-color);
}

header img {
  /* Display & Box Model */
  height: auto;
  width: 48px;

  /* Color */
  filter: var(--logo-filter);
}

header > img {
  /* Color */
  filter: var(--switch-filter);
}

header .logo img {
  /* Display & Box Model */
  width: 40px;
  margin: 5px;
}

/* MAIN */
main {
  /* Display & Box Model */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 64px);
  padding: 16px 32px;
  margin: 64px 0px 0px;

  /* Color */
  background-color: var(--primary-color);
}

main ul {
  /* Display & Box Model */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;

  /* Other */
  list-style: none;
}

main li {
  /* Display & Box Model */
  margin: 8px 0px;
}

main .modeList {
  /* Display & Box Model */
  width: calc(100vw - 64px);
}

main .modeList li {
  /* Display & Box Model */
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 1 160px;
  height: 64px;
  border-radius: 12px;
  margin: 16px 0px;

  /* Color */
  background-color: var(--secondary-color);
  border: solid var(--font-color);
}

main .modeList li:has(> input:checked) {
  border: solid var(--accent-color);
  box-shadow: 0 0 0.5rem var(--accent-color);
}

main .modeList li input {
  /* Positioning */
  position: absolute;

  /* Other */
  opacity: 0;
}

main .modeList li label {
  /* Display & Box Model */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 8px;
}

main .game {
  /* Display & Box Model */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .game .playButton {
  /* Display & Box Model */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  margin: 32px;

  /* Color */
  background-color: transparent;
  border: transparent;
}

main .game .playButton img {
  /* Display & Box Model */
  border-radius: 50%;

  /* Color */
  filter: var(--switch-filter);
  background-color: var(--play-bg-color);
}

main .game .figureContainer {
  /* Display & Box Model */
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;

  /* Color */
  border: solid var(--secondary-color) 4px;
}

main .game figure {
  /* Display & Box Model */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 16px;
  width: 240px;
  padding: 8px;
  
  /* Color */
  background-color: var(--tertiary-color);
}

main .game figure img {
  /* Display & Box Model */
  width: 32px;
  height: 32px;

  /* Color */
  filter: var(--figure-img-filter);
}

main .game figure .player {
  /* Color */
  color: var(--player-color);
}

main .game figure .computer {
  /* Color */
  color: var(--accent-color);
}

main .game ul {
  /* Display & Box Model */
  display: none;
  margin-top: 8px;
}

main .game ul button {
  /* Display & Box Model */
  padding: 10px;
  border-radius: 16px;

  /* Color */
  border: solid var(--secondary-color) 6px;
}

main .game ul button:disabled {
  /* Color */
  background-color: var(--disabled-color);
}

main .game ul img {
  /* Display & Box Model */
  width: 50px;
  height: 50px;
}

main .results {
  /* Display & Box Model */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

main .results .accent {
  /* Color */
  color: var(--accent-color);

  /* Text */
  font-weight: 900;
}

main .results button {
  /* Display & Box Model */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 48px;
  border-radius: 12px;
  margin: 8px;

  /* Color */
  background-color: var(--secondary-color);
  border: solid var(--font-color);
  
  /* Text */
  font-size: 16px;
}

/* FOOTER */
footer {
  /* Display & Box Model */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 64px;
  padding: 8px 32px;

  /* Color */
  background-color: var(--secondary-color);
}

/* MEDIA QUERIES */
@media screen and (max-width: 375px) {
  /* If screen is small */
  h1 {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  /* If screen is medium */
  h1 .largeDisplay {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  /* If screen is large */
  h1 .mediumDisplay {
    display: none;
  }
}

@media screen and (pointer: coarse) {
  /* If screen is only touch-screen */
  header > img:active {
    filter: var(--switch-hover-filter);
  }

  main .modeList li:active {
    /* Color */
    box-shadow: 0 0 0.5rem var(--font-color);
  }

  main .game .playButton:active {
    /* Color */
    box-shadow: 0 0 0.5rem var(--font-color);
  }

  main .game ul button:active {
    /* Color */ 
    box-shadow: 0 0 0.5rem var(--font-color);
  }

  main .results button:active {
    /* Color */
    box-shadow: 0 0 0.5rem var(--font-color);
  }
}

@media screen and (pointer: fine) {
  /* If screen has a mouse pointer */
  header > img:hover {
    filter: var(--switch-hover-filter);
  }

  main .modeList li:hover {
    /* Color */
    box-shadow: 0 0 0.5rem var(--font-color);
  }

  main .game .playButton:hover {
    /* Color */
    box-shadow: 0 0 0.5rem var(--font-color);
  }

  main .game ul button:hover {
    /* Color */ 
    box-shadow: 0 0 0.5rem var(--font-color);
  }

  main .results button:hover {
    /* Color */
    box-shadow: 0 0 0.5rem var(--font-color);
  }
}